<div class="w3-card-4 w3-white w3-round-large w3-padding" style="max-width: 500px; margin: 0 auto;">
  <h2 class="w3-center w3-text-theme">Search Rides</h2>

  <form (ngSubmit)="onSubmit()" class="w3-container">
    
    <!-- 1. Line Picker -->
    <div class="w3-margin-bottom">
      <label class="w3-text-grey"><b>Line</b></label>
      <app-line-picker 
        [line]="selectedLine()" 
        (lineChange)="onLineChange($event)">
      </app-line-picker>
    </div>

    <!-- 2. Start Stop Picker -->
    <div class="w3-margin-bottom">
      <label class="w3-text-grey"><b>Departure Stop</b></label>
      <app-stop-picker 
        [line]="selectedLine()" 
        [(stop)]="startStop">
      </app-stop-picker>
    </div>

    <!-- 3. Arrival Stop Picker -->
    <div class="w3-margin-bottom">
      <label class="w3-text-grey"><b>Arrival Stop</b></label>
      <app-stop-picker 
        [line]="selectedLine()" 
        [(stop)]="arrivalStop">
      </app-stop-picker>
    </div>

    <!-- 4. Time Selection & Toggle -->
    <div class="w3-row-padding w3-margin-bottom" style="margin-left: -16px; margin-right: -16px;">
      <div class="w3-half">
        <label class="w3-text-grey"><b>Time</b></label>
        <input 
          class="w3-input w3-border w3-round" 
          type="time" 
          [ngModel]="time()" 
          (ngModelChange)="time.set($event)" 
          name="time" 
          required>
      </div>

      <div class="w3-half w3-padding-top">
        <label class="w3-validate" style="cursor: pointer;">
          <input 
            type="checkbox" 
            class="w3-check" 
            [ngModel]="searchByArrival()" 
            (ngModelChange)="searchByArrival.set($event)" 
            name="searchByArrival">
          Search by Arrival Time
        </label>
      </div>
    </div>

    <!-- Error Display -->
    @if (errorMessage()) {
      <div class="w3-panel w3-red w3-round w3-padding-small">
        <p class="w3-small">{{ errorMessage() }}</p>
      </div>
    }

    <!-- Submit Button -->
    <button 
      type="submit" 
      class="w3-button w3-block w3-blue w3-round w3-margin-top" 
      [disabled]="loading()">
      @if (loading()) {
        Searching...
      } @else {
        Search Rides
      }
    </button>
  </form>

  <!-- Results Section -->
  @if (searchResults(); as results) {
    <div class="w3-margin-top w3-border-top w3-padding-top">
      <h4>Available Rides</h4>
      
      @if (results.length === 0) {
        <p class="w3-text-grey w3-center">No rides found matching your criteria.</p>
      } @else {
        <div class="w3-ul w3-card-2 w3-round">
          @for (ride of results; track $index) {
            <li class="w3-bar w3-padding">
              <div class="w3-row">
                <div class="w3-half">
                  <span class="w3-large"><b>{{ ride.startTime }}</b></span>
                  <div class="w3-small w3-text-grey">{{ ride.startStopInfo }}</div>
                </div>
                <div class="w3-half w3-right-align">
                  <span class="w3-large"><b>{{ ride.arrivalTime }}</b></span>
                  <div class="w3-small w3-text-grey">{{ ride.arrivaStopInfo }}</div>
                </div>
              </div>
            </li>
          }
        </div>
      }
    </div>
  }
</div>